.App {
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-size: 20px;
  vertical-align: middle;
}

.add {
  margin: 0 10px;
}

.result {
  color: red;
}

.name {
  margin-left: 10px;
}